#selection-screen {
    text-align: center;
    margin-top: 20vh;
    font-family: Arial, sans-serif;
  }
  
  .mode-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .mode-button:hover {
    background-color: #005f5f;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    color: #555;
  }
  

  ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
  }
  
  li {
    margin-bottom: 10px; /* Adds spacing between list items */
  }
  